.subreddit-page {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
}

.subreddit-header {
  position: sticky;
  top: 0;
  z-index: 50;
  flex-shrink: 0;
}


.content-scroll ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
}

li {
  list-style-type: none;
}