.post-feed {
    display: block;
    position: flex;
    overflow-y: auto;
    padding: 1rem;
    scroll-behavior: smooth;
}

.post-feed ul {
  list-style: none;   
  padding: 0;         
  margin: 0;          
}

.post-feed li {
  margin-bottom: 1rem;  /* optional spacing between posts */
}

.post-loading {
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;     
  height: 100vh;            
  width: 100%;             
  text-align: center;
  gap: 1rem;              
}

.post-error {
  display: flex;
  flex-direction: column;   
  justify-content: center;  
  align-items: center;     
  height: 100vh;            
  width: 100%;             
  text-align: center;
  gap: 1rem;              
}