.spinner {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    border: .2rem;
    border-radius: 50px;
    border-color: var(--color-primary);
    border-style: solid;
    margin: 5px;
    background-color: var(--color-primary);
    height: 65px;
    width: 65px;
}

.spinner div {
    width: 8px;
    height: 8px;
    background-color: var(--color-text-light);
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.spinner div:nth-child(2) {
    animation-delay: 0.2s;
}

.spinner div:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-6px);
    }
}