*,
*::before,
*::after {
  font-family: 'Reddit Sans', sans-serif;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #f6f3f0;
  margin: 0;
}

button {
  color: white;
  background-color: #ff5800;
  border-color: #ff5800;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  padding: 6px;
}

button:hover {
  border-color: green;
  background-color: green;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.AppContent {
  margin-top: 150px;
  height: calc(100vh - 400px);
  overflow-y: hidden;
  padding: 1rem;
}

.AppLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
}