#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
  height: 100%;
}

.app{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex-grow: 1;
  padding: 0 12px;
  overflow: hidden;
}